<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../static/login.css">
    <link rel="icon" type="image/x-icon" href="../static/aba.ico">
</head>
<body id="corpo">
   
    <div id=bloco class="meu-bloco-solido"></div>

    <h1 id="login">Login</h1>
    <br>
    <h1 id="senha">Senha</h1>

    <img id=imagem src="../static/logo2.PNG">

    <div id="caixalogin">
        <input id="inputcaixalogin" type="email" placeholder="Digite seu usuario"></input>
    </div>
    <div id="caixasenha">
        <input id="inputcaixasenha" type="senha" placeholder="Digite sua senha"></input>
    </div>

    <button id="esqueci" type="button">Esqueci a senha!</button>
    <button id="entrar" type="button">Entrar</button>
</body>
</html>