body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f8f9fa; 
}

#cabecalho {
    background-color: #005281;
    color: white;
    text-align: center;
    padding: 20px;
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 100%;     
    z-index: 1000;   
}

#nome_item{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#categoria{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#funcao{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#quantidade{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#valor{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#link_foto{
    background-color: white; 
    color: black; 
    border-color: rgb(199, 193, 193);
    width: 500px;
}

#botao_cadastro{
    background-color: #005281;
    border-color: #005281;

}