#corpo{
    background-color: #005281;
    color: #005281;
    font-family: Arial, sans-serif
}

#imagem{
    position:absolute;
    width:400px;
    height:200px;
    top: 90px;
    left: 720px;
    display: flex;
  justify-content: center;
}

#login{
   position: absolute; 
   top: 450px;
   left: 700px;
}

#senha{
    position: absolute; 
   top: 570px;
   left: 700px;
}

#bloco{
    position:absolute;
    width:650px;
    height:450px;
    top: 410px;
    left: 620px;
    background-color: white;
     border-radius: 8px;
}

#caixalogin{
    position:absolute;
    width:500px;
    height:50px;
    top: 520px;
    left: 700px;
    background-color: #b2dcf3;
    color: white;
    border-radius: 8px;
    opacity: 0.5;
    font-size: 40px;
    vertical-align: middle;
}

#caixasenha{
    position:absolute;
    width:500px;
    height:50px;
    top: 640px;
    left: 700px;
    background-color: #b2dcf3;
    color: white;
    border-radius: 8px;
    opacity: 0.5;
    font-size: 40px;
    vertical-align: middle;
}

#entrar{
     position:absolute;
    width:250px;
    height:80px;
    top: 730px;
    left: 825px;
    background-color: #005281;
    color: white;
     border-radius: 8px;
}  

#entrar:active{
    position:absolute;
    width:250px;
    height:80px;
    top: 760px;
    left: 825px;
    background-color: #1e648d;
    color: white;
    border-radius: 8px;
    border: none;
}

#inputcaixalogin{
    position:absolute;
    width:490px;
    height:45px;
    top: 1px;
    left: 1px;
    background-color: #b2dcf3;
    color: rgb(105, 105, 107);
    border-radius: 8px;
    opacity: 0.5;
    font-size: 20px;
    vertical-align: middle;
}

#inputcaixasenha{
    position:absolute;
    width:490px;
    height:45px;
    top: 1px;
    left: 1px;
    background-color: #b2dcf3;
    color: rgb(105, 105, 107);
    border-radius: 8px;
    opacity: 0.5;
    font-size: 20px;
    vertical-align: middle;
}

#olhinho{
    position: relative;
    left: 450px;
    top: 0px;
}   