<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estoque</title>
    <link rel="stylesheet" href="static/estoque.css">
    <link rel="icon" type="image/x-icon" href="static/aba.ico">

</head>
<body>

    <h1>Controle de Estoque</h1>

    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </tr>

        <tr>
            <td>teste</td>
            <td>10</td>
            <td>R$ 99</td>
        </tr>

        <tr>
            <td>teste</td>
            <td>10</td>
            <td>R$ 99</td>
        </tr>

        <tr>
            <td>teste</td>
            <td>10</td>
            <td>R$ 99</td>
        </tr>
    </table>
</body>
</html>