<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almoxarifado SENAI</title>
    <link rel="stylesheet" href="static/inicio.css">
    <link rel="icon" type="image/x-icon" href="static/aba.ico">

   
</head>
<body>

    <header id="cabecalho">
        <h1>Sistema de Almoxarifado Senai</h1>
        <p>Controle de materiais e estoque</p>
    </header>
<form action="/" method="POST">
    <div id="container-principal">

        <div id="secao-cards">

            <div id="card-2">
                <h2>Adicionar Estoque</h2>
                <p>Inserir itens ao estoque.</p>
                <a href="/estoque" id="btn-2">Acessar</a>
            </div>

            <div id="card-3">
                <h2>Retirar Estoque</h2>
                <p>Registrar a saída de materiais.</p>
                <a href="/retirar" id="btn-3">Acessar</a>
            </div>

        </div>
</form>


<div>
    <h1>Controle de Estoque</h1>
    <table>
        <tr>
            <th>Produto</th>
            <th>Quantidade</th>
            <th>Preço</th>
            <th>Imagem</th>
        </tr>
        <tr>
            <td>teste</td>
            <td>10</td>
            <td>R$ 99</td>
            <td><button class="btn-imagem" onclick="mostrarImagem('teste 1')">Ver</button></td>
        </tr>
        <tr>
            <td>teste</td>
            <td>10</td>
            <td>R$ 99</td>
            <td><button class="btn-imagem" onclick="mostrarImagem('teste 2')">Ver</button></td>
        </tr>
       <tr>
    <td>teste</td>
    <td>10</td>
    <td>R$ 99</td>
    <td>
        <button onclick="Swal.fire({ imageUrl: 'https://placeholder.pics/svg/300x1500', imageHeight: 400, imageAlt: 'A tall image' });">
            Ver
        </button>
    </td>
</tr>
    </table>
</div>

</body>
</html>