<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almoxarifado SENAI</title>
    <link rel="stylesheet" href="static/inicio.css">
    <link rel="icon" type="image/x-icon" href="static/aba.ico">
   
</head>
<body>

    <header id="cabecalho">
        <h1>Sistema de Almoxarifado Senai</h1>
        <p>Controle de materiais e estoque</p>
    </header>

    <div id="container-principal">

        <div id="secao-cards">

            <div id="card-1">
                <h2>Itens cadastrados</h2>
                <p>Cadastro de materiais.</p>
                <a href="/cadastrar" id="btn-1">Acessar</a>
            </div>

            <div id="card-2">
                <h2>Adicionar Estoque</h2>
                <p>Inserir itens ao estoque.</p>
                <a href="/entrada" id="btn-2">Acessar</a>
            </div>

            <div id="card-3">
                <h2>Retirar Estoque</h2>
                <p>Registrar a saída de materiais.</p>
                <a href="/saida" id="btn-3">Acessar</a>
            </div>

        </div>

        <div id="secao-resumo">

            <div id="box-1">
                <h3>Itens Cadastrados</h3>
                <p>30</p>
            </div>

            <div id="box-2">
                <h3>Entradas Hoje</h3>
                <p>25</p>
            </div>

            <div id="box-3">
                <h3>Saídas Hoje</h3>
                <p>12</p>
            </div>

        </div>

    </div>

</body>
</html>