<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="static/login.css">
    <link rel="icon" type="image/x-icon" href="static/aba.ico">
</head>
<body id="corpo">
   
    <div id=bloco class="meu-bloco-solido"></div>

    <h1 id="login">Usuário</h1>
    <br>
    <h1 id="senha">Senha</h1>

    <img id=imagem src="static/logo2.PNG">
    <form action="/" method="POST">
        <div id="caixalogin">
            <input id="inputcaixalogin" name="username" type="text" placeholder="Digite seu usuário"></input>
        </div>
        <div id="caixasenha">
            <input id="inputcaixasenha" name="password" type="password" placeholder="Digite sua senha"></input>
        </div>

        <button id="esqueci" type="button">Esqueci a senha!</button>
        <button id="entrar" type="submit">Entrar</button>
    </form>
</body>
</html>